<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="openAccessConfiguration" type="Telerik.OpenAccess.Config.OpenAccessConfigSectionHandler, Telerik.OpenAccess" requirePermission="false" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <openAccessConfiguration xmlns="http://www.telerik.com/OpenAcessConfiguration">
    <backendConfiguration name="MayLilyConfiguration" backend="mssql" connectionTimeout="180" providerName="System.Data.SqlClient">
      <runtime allowReadAfterDelete="true" checkObjectConsistencyOnCommit="true" />
    </backendConfiguration>
  </openAccessConfiguration>

  <appSettings>
    <add key="ConnectionStringId" value="MayLilyConnection" />
    <add key="BackendConfigurationName" value="MayLilyConfiguration" />
  </appSettings>

  <connectionStrings>
    <add name="MayLilyConnection" connectionString="Server=.\SQLEXPRESS; Initial Catalog=MayLilyDb; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
